section {
  display: flex;
  flex-direction: column;
}

article {
  background-color: rgba(4, 90, 252, 0.493);
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
